nav {
  display: flex;
  gap: 1.8rem;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
  text-decoration-thickness: 2px; /* Gör linjen lite kraftigare */
 font-weight: bold;              /* Gör texten fet för ökad tydlighet*/
}

.hamburger {
  display: none; /* Dold som standard på desktop */
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: black;
  margin-left: auto;
}

header {
  background-color: #957C62;

  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.min-logga {
  width: 18rem;
  height: auto;
  display: block;
}

body {
  font-family: Arial, sans-serif;
  background-color: 
  #FFE1AF;
}

main {
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #E2B59A;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 65ch;

}

footer {
  padding: 1.89rem 2.5rem;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: flex-start;
 gap: 1rem;
 background-color: #957C62;
 margin-top: 3rem;
 
}

.footer-info p {
 margin-bottom: 0.5rem;
 font-size: 1rem;
 text-align: left;
}

media (max-width: 1024px) {
  
  /* Krymper containern och menyn lite så det inte krockar */
  .main-container {
    max-width: 100%;
    padding: 0 1.5rem;
  }

  nav {
    gap: 1rem;
    margin-left: 2rem;
  }

  nav a {
    font-size: 0.95rem;
  }

  
  }

  /*PIZZABOT*/
 /* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }*/
  
  body .pizza {
    font-family: "Montserrat", sans-serif;
    background: #1b2f9f;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
  }
  
  p .pizza {
    font-size: 1.5em;
  }


  @media (max-width: 768px) {
  
    /* Header och hamburgermeny */
    header {
      flex-wrap: wrap;
      padding: 1rem 1.25rem; /* toppen botten + höger vänster*/
    }
    
    .hamburger {
      display: block; 
    }
    
    /* Göm menyn tills man klickar */
    nav {
      display: none;
      width: 100%;
      flex-direction: column;
      gap: 0;
      margin-left: 0; 
      
    }
    
    nav.active {
      display: flex;
    }
    
    nav a {
      padding: 1rem;
      border-bottom: 1px solid rgba(255,255,255,0.2);
      width: 100%;
      text-align: center;
      
    }
  
    /* Footer staplas */
    footer {
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;
      padding: 2rem 1rem;
    }
    .min-logga {
      width: 12rem;
    }
  

    
  }